body {
    background-color: black;
}

.ads-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-weight: normal;
}

.dwn-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    text-align: center;
    font-weight: normal;
}

#mobile {

    margin-left: 43%;

}

#tent {
    margin-left: 35%;
}

#company {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: normal;
}